<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Professor</title>
</head>
<body>
    <article>
        <h1>Gestão PI</h1>
        <table>
            <tr>
                <td>Coleta busca INPI</td><td>{{ data_buscaINPI }}</td><td></td>
                <td>Coleta GRUs</td><td>{{ data_coletaGRUs }}</td><td></td>
                <td>Coletas Revistas</td><td>{{ data_coletaRevistas }}</td><td></td>
            </tr>
        </table>
    </article>
    <article>
        <h1>Docencia - Prazos por disciplina</h1>
        <h2> Disciplina</h2>
        
        <table>
            <tr>
                <td>Coleta busca INPI</td><td>{{ data_buscaINPI }}</td><td></td>
                <td>Coleta GRUs</td><td>{{ data_coletaGRUs }}</td><td></td>
                <td>Coletas Revistas</td><td>{{ data_coletaRevistas }}</td><td></td>
            </tr>
        </table>
    </article>
</body>
</html>